00000010000000     PAYSFER      {{creationDate}}{{orderIdNoSpace}}F031697978     ICDFL
1000000{{orderIdNoSpace}}{{accountNumber}}1697978{{creationDate}}{{backOrderCancellationDate}}{{isBackOrder}}N         YY      N   