1000000{{fileNameWithSubSpace}}{{accountNumber}}1697978{{creationDate}}{{backOrderCancellationDate}}{{isBackOrder}}N         YY      N     
2100000{{fileNameWithSubSpace}}{{accountNumber}}0RF  N 1PAYSFF03{{shippingMethod}}N 
2500000{{fileNameWithSubSpace}}Paysfer Emart                                      
2600000{{fileNameWithSubSpace}}9177440056                                         
2700000{{fileNameWithSubSpace}}124 E 14th St                                      
2900000{{fileNameWithSubSpace}}New York                 NY 10003      USA         
3000000{{fileNameWithSubSpace}}{{{userName}}}Y
3100000{{fileNameWithSubSpace}}{{userNumber}}
3200000{{fileNameWithSubSpace}}{{{userAddressLine}}}
3400000{{fileNameWithSubSpace}}{{{userCity}}}{{{userState}}}{{{userZipCode}}}{{userCountry}}         
4000000{{fileNameWithSubSpace}}{{poaLineNumber}}{{EAN}}000Y  NEN
4100000{{fileNameWithSubSpace}}{{itemPrice}}{{itemQuantity}}                           
5000000{{fileNameWithSubSpace}}0001300000000010000000001                          