00000010000000     PAYSFER      {{creationDate}}{{fileName}}F031697978     ICDFL
1000000{{orderIdNoSpace}}{{accountNumber}}1697978{{creationDate}}{{backOrderCancellationDate}}{{isBackOrder}}YN         YY      N   